In [284]:
import pandas as pd
import numpy as np

In [285]:
#1 Lire le fichier CSV via Pandas

csv = pd.read_csv('mower_market_snapshot.csv',delimiter=";")
csv.head(2000)

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [286]:
#3 Auditer et analyser la colonnes Prod_cost

csv.loc[:,"prod_cost"]

0       195.03551928211797
1       151.31809934886763
2       178.13731921134948
3       162.82946157588628
4       141.48693796090603
               ...
1394    11.498540481074583
1395    11.380588736668567
1396               unknown
1397     9.794196773761458
1398    10.696216086742934
Name: prod_cost, Length: 1399, dtype: object

In [287]:
csv['prod_cost']

0       195.03551928211797
1       151.31809934886763
2       178.13731921134948
3       162.82946157588628
4       141.48693796090603
               ...
1394    11.498540481074583
1395    11.380588736668567
1396               unknown
1397     9.794196773761458
1398    10.696216086742934
Name: prod_cost, Length: 1399, dtype: object

In [288]:
#4 Analyser le nombre de valeurs manquantes par colonnes 

csv['prod_cost'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1394    False
1395    False
1396    False
1397    False
1398    False
Name: prod_cost, Length: 1399, dtype: bool

In [289]:
with open('mower_market_snapshot.csv') as unknown:
    unknownitem = unknown.read().count('unknown')

print(unknownitem)

13

In [290]:
print(csv.isnull().sum().sum())

18

In [291]:
print(csv.isnull().values.any())

True

In [292]:
#5 Remplacer les valeurs manquantes par la moyenne de la colonne (si possible) 

csv.fillna(csv.mean())

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [293]:
#6 Afficher les valeurs uniques de la colonne Warranty

csv.warranty.unique()

array(['3ans', '3 ans.', '3_ans', '3 anss', '3ans.', '3 ans', '3_ans.',
       '3_anss', '3anss', '2 ans', '2 anss', '2anss', '2_ans', '2ans',
       '2_ans.', '2 ans.', '2_anss', '2ans.', '1 an', '1an', '1_an.',
       '1ans', '1an.', '1_ans', '1_an', '1 an.', '1 ans'], dtype=object)

In [294]:
#7 & 8 Traiter la colonne warranty afin d'uniformiser les valeurs (avoir uniquement des valeurs numériques uniformes)
#      Traiter la colonne warranty afin d'obtenir une colonne numérique avec 3 valeurs uniques

csv["warranty"] = csv["warranty"].str[0].astype(int)
csv

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1,0.001022,0.538969

In [295]:
#9 Traiter la colonne price afin d'avoir 3 catégories :  
#
#    - 0-300 
#
#    -301-500 
#
#    - 501- ++ 


csv.groupby(pd.cut(csv["price"], [0, 300,500,1000])).mean().loc[:,["capacity", "failure_rate", "margin","market_share", "attractiveness"]]

              capacity  failure_rate      margin  market_share  attractiveness
price
(0, 300]     56.933206      0.220407   67.479837      0.001225        0.626233
(300, 500]   38.632563      0.100551  263.736848      0.002431        0.632159
(500, 1000]  25.351682      0.069466  566.520813      0.005862        0.696661

In [296]:
#10 Transformer la colonne product_type en colonne numérique avec 3 catégories :  
#
#    1 
#    2 
#    3 

csv["product_type"] = csv["product_type"].apply(lambda x: 1 if x=="auto-portee" else 2 if x=="electrique" else 3)

In [297]:
csv.groupby(["product_type"]).first()

,capacity,failure_rate,id,margin,price,prod_cost,quality,warranty,market_share,attractiveness
product_type,,,,,,,,,,
1,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,Low,3,0.006360,0.650648
2,31.897593,0.092226,19620,263.227921,366.225489,102.99756784515532,Low,2,0.002938,0.765499
3,67.502725,0.214099,19615,62.182262,74.158501,11.976239018890924,Medium,1,0.001328,0.700719

In [299]:
#11) Puis créer 3 colonnes (auto-portée, essence, électrique) représentant une variable binaire avec 1 
#     si le produit est du type de la colonne ou 0 sinon. 

csv["auto-portee"]=0
csv["electrique"]=0
csv["essence"]=0

csv.loc[csv["product_type"]==1,"auto-portee"]=1
csv.loc[csv["product_type"]==2,"electrique"]=1
csv.loc[csv["product_type"]==3,"essence"]=1

csv.loc[:,['auto-portee' , 'electrique' ,'essence']]

      auto-portee  electrique  essence
0               1           0        0
1               1           0        0
2               1           0        0
3               1           0        0
4               1           0        0
...           ...         ...      ...
1394            0           0        1
1395            0           0        1
1396            0           0        1
1397            0           0        1
1398            0           0        1

[1399 rows x 3 columns]